# vs code
.vscode/tasks.json
.vscode/launch.json

# current prod infrastructure
INFRASTRUCTURE.md

# deployment
deployment/*
deployment-*/*
config/prepare.sh
config/init.sh

# releases
publish/*

# software
**/soft/*
**/*.exe
**/*.iso

# tool
build.exe
build

# custom values
config/build.*.json
config/values.*.yaml
config/version.*.yaml
config/images.*.yaml
config/README.*.md

# prepare files
**/prepare/*

# ignition files
**/*.ign
